<p id="notice"><%= notice %></p>

<div>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <%= image_tag(@user.image) %>
</p>

</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', login_path %>
